.searchInput{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.searchInput input{
 background-color: #101116cb;
 color: rgb(205, 205, 205);
}
.searchInput input:focus{
 background-color: #101116cb;
 color: rgb(205, 205, 205);
}
.searchInput input::placeholder{
    color: rgb(205, 205, 205);
}


@media screen and (min-width: 300px) and (max-width: 767.9px){
    .searchInput{
          width: 100%;
    }
}
